<%= form_for @question do |f| %>
<div class="form-group">
  <label>Title</label>
  <%= f.text_field :title, class: "form-control" %> 
</div>
<div class="form-group">
  <label for="">Description</label>
  <%= f.text_area :description, rows: 5, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.submit "#{@question.persisted? ? 'Update' : 'Create'}", class: "form-conrol" %>
</div>
<% end %>