.container
  .col-md-2.col-xs-0
  .col-md-8.col-xs-12
    h1 New Question
    ul
      - if @question.errors.any?
        - @question.errors.full_messages.each do |message|
          li = message
    = render "form"
  .col-md-2.col-xs-10

