

.brand-custom {
  color: #ffffff;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


#main-container {
  padding-top: 110px;  
}

#red-box  {
  height: 70%;
  width: 30%;
  padding-top: 120px;
  padding-left: 70px;
  position: absolute;
  z-index: +3;
}

#nav-under {
  background-color: #990000;
  padding-top: 50px
}

.glyphicon-remove {
  color: #990000;
}

.hanging-icon-links {
  display: inline;
}

.weak-header {
  display: inline;
}

#edit-icon {
  color: #428bca;
}

#delete-icon {
  color: #990000;
}

#categories-dropdown {
  color: white;
  vertical-align: middle;
  margin-top: 4px;
}

#categories-nav {
  margin-top: 1%;
  margin-right: 1%;
}

$navbar_default_link_color: #FFF;
$navbar-default-link-active-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-bg: #009933;
$nav-link-padding: 10px 20px;




 